<%- contentFor('body') %>

<div class="login-box">
	<% if (error) { %>
		<% if ("match" in error) { %>
			<p type="matchErr"><%- error["match"] %></p>
		<% } %>
	<% } %>
	<h2>Log in here</h2>
	<form action="/signIn" method="POST" class="submitLogin">
		<p>Email</p>
		<% if (error) { %>
			<% if ("email" in error) { %>
				<p type="errortxt"><%- error["email"] %></p>
			<% } %>
			<input type="text" name="email" value = <%- email %>>
		<% } else { %>
			<input type="text" name="email" placeholder="Enter Email">
		<% } %>
		<p>Password</p>
		<% if (error) { %>
			<% if ("password" in error) { %>
				<p type="errortxt"><%- error["password"] %></p>
			<% } %>
			<input type="password" name="password" placeholder= <%-password %>>
		<% } else { %>
			<input type="password" name="password" placeholder="******">
		<% } %>
		<div class="submitButton">
			<input type="submit" name="signin" value="Login">
		</div>
		<a href="#">Forgot Password?</a>
		<br></br>
		<a href="/signUp">Not a member? Sign Up!</a>
	</form>
</div>